---
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';

const {data, error} = await actions.getProductsByPage({});

if (error) {
  return Astro.redirect('/');
}

console.log(data);
---

<MainLayout>
  <h1 class="text-3xl">Home Page</h1>
</MainLayout>
